on: [push, pull_request]
jobs:
  unit-tests:
    strategy:
      matrix:
        php-version: ["8.2", "8.3", "8.4", "8.5"]
    name: PHP Unit Tests on PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-cache-${{ matrix.php-version }}

      - name: Install dependencies
        run: composer install --no-interaction --ansi

      - name: Execute tests
        run: |
          php -dzend_extension=xdebug.so -dxdebug.mode=coverage vendor/bin/phpunit \
            -c phpunit.xml \
            --coverage-clover=coverage/clover-${{ matrix.php-version }}.xml \
            --coverage-text \
            --color=always

      - name: Store Coverage Result
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-${{ matrix.php-version }}
          path: coverage/clover-${{ matrix.php-version }}.xml

  after:
    needs: [unit-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Restore Coverage Result
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-report-*
          merge-multiple: true
          path: coverage/

      - name: Report Coverage
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/clover-*.xml
